<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- 콘솔에 출력하기 위한 appender -->
	<appender name="consoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	
	<!--"kr.ac.hansung.cse"에 대해서 level을 debug로 줌 ->따라서 하위의 레벨은 따로설정하지않았다면 상속으로인해 debug -->
	<logger name="kr.ac.hansung.cse" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>